<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
<servlet>
<servlet-name>displayLaptop</servlet-name>
<servlet-class>servlets.DisplayLaptop</servlet-class>
</servlet>
<servlet>
<servlet-name>LearnMore</servlet-name>
<servlet-class>servlets.LearnMore</servlet-class>
</servlet>
<servlet>
<servlet-name>CreateUser</servlet-name>
<servlet-class>servlets.CreateUser</servlet-class>
</servlet>
<servlet>
<servlet-name>LogIn</servlet-name>
<servlet-class>servlets.LogIn</servlet-class>
</servlet>
<servlet>
<servlet-name>EditProfile</servlet-name>
<servlet-class>servlets.EditProfile</servlet-class>
</servlet>
<servlet>
<servlet-name>Purchase</servlet-name>
<servlet-class>servlets.Purchase</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewOrders</servlet-name>
<servlet-class>servlets.ViewOrders</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>displayLaptop</servlet-name>
<url-pattern>/displayLaptop</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LearnMore</servlet-name>
<url-pattern>/LearnMore</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CreateUser</servlet-name>
<url-pattern>/CreateUser</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LogIn</servlet-name>
<url-pattern>/LogIn</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EditProfile</servlet-name>
<url-pattern>/EditProfile</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Purchase</servlet-name>
<url-pattern>/Purchase</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewOrders</servlet-name>
<url-pattern>/ViewOrders</url-pattern>
</servlet-mapping>

<!-- Backend -->
<servlet>
<servlet-name>TechnetServlet</servlet-name>
<servlet-class>servlets.TechnetServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>CRUDLaptop</servlet-name>
<servlet-class>servlets.CRUDLaptop</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayLaptopTable</servlet-name>
<servlet-class>servlets.DisplayLaptopTable</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayLaptop</servlet-name>
<servlet-class>servlets.DisplayLaptop</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayOrder_Staff</servlet-name>
<servlet-class>servlets.DisplayOrder_Staff</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayStaffTable</servlet-name>
<servlet-class>servlets.DisplayStaffTable</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayOrder</servlet-name>
<servlet-class>servlets.DisplayOrder</servlet-class>
</servlet>
<servlet>
<servlet-name>Comment</servlet-name>
<servlet-class>servlets.Comment</servlet-class>
</servlet>
<servlet>
<servlet-name>CRUDPaymentcard</servlet-name>
<servlet-class>servlets.CRUDPaymentcard</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TechnetServlet</servlet-name>
<url-pattern>/Technet-backend/TechnetServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CRUDLaptop</servlet-name>
<url-pattern>/Technet-backend/CRUDLaptop</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayLaptopTable</servlet-name>
<url-pattern>/Technet-backend/DisplayLaptopTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayOrder_Staff</servlet-name>
<url-pattern>/Technet-backend/DisplayOrder_Staff</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayStaffTable</servlet-name>
<url-pattern>/Technet-backend/DisplayStaffTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayOrder</servlet-name>
<url-pattern>/Technet-backend/DisplayOrder</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Comment</servlet-name>
<url-pattern>/Technet-backend/Comment</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CRUDPaymentcard</servlet-name>
<url-pattern>/Technet-backend/CRUDPaymentcard</url-pattern>
</servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
